body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #333;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 15px;
}

.container {   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
}

.box {
    width: 200px;
    height: 200px;  
    line-height: 200px;      
    margin: 10px;
    text-align: center;
    vertical-align: middle; 
}

.top {
    justify-content: space-between;
}

.bottom {
    justify-content: space-between;
}

.red {border: 3px solid red;}

.blue {border: 3px solid blue;}

.green{border: 3px solid green;}

.yellow{border: 3px solid yellow;}

.input {
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}

#inputNum {
    width: 130px;
    height: 20px;
}

.btn {
    width: 130px;
    height: 30px;
    color: #333;
    background-color: burlywood;
    border: none;
}


